@model IEnumerable<TomaszDyskoLab5Zad1.Models.Review>
<div class="container">
    <!--Tytuł gry-->
    <div class="row">
        <div class="col-md-12">
            <h2>@TempData["GameName"] </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <!--Średnia gry-->
            <p>Średnia ocena to @TempData["Average"] </p>
        </div>
        <div class="col-md-4">
            <!--Ilość gwiazdek równa częsci całkowitej średniej z ocen-->
            @for (int i = 0 ; i< (int)TempData["Average"]; i++)
            {
                <i class="glyphicon glyphicon-star"></i>
            }
        </div>
    </div>
    <!--wylistowne recenzje tej gry-->
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stars)
                </td>

            </tr>
        }

    </table>
</div>